In [5]:
import pandas as pd
from src.corruptions import TextAttackCorruption

from textattack.transformations import WordSwapRandomCharacterInsertion
from textattack.transformations import WordSwapQWERTY
from textattack.transformations import WordSwapRandomCharacterSubstitution
from textattack.transformations import WordSwapRandomCharacterDeletion

from textattack.constraints.pre_transformation import StopwordModification
from textattack.constraints.pre_transformation import RepeatModification

In [9]:
df = pd.read_json("./../data/small.json", lines=True)
df

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote
0,5,True,"11 19, 2014",A1QVBUH9E1V6I8,4639725183,Jamshed Mathur,No adverse comment.,Five Stars,1416355200,NaN
1,5,True,"10 13, 2016",A3GEOILWLK86XM,4639725183,itsjustme,Gift for college student.,Great product.,1476316800,NaN
2,5,True,"11 21, 2015",A32RD6L701BIGP,4639725183,Krystal Clifton,"If you like strong tea, this is for you. It mi...",Strong,1448064000,NaN
3,5,True,"08 12, 2015",A2UY1O1FBGKIE6,4639725183,U. Kane,Love the tea. The flavor is way better than th...,Great tea,1439337600,NaN
4,5,True,"05 28, 2015",A3QHVBQYDV7Z6U,4639725183,The Nana,I have searched everywhere until I browsed Ama...,This is the tea I remembered!,1432771200,NaN
...,...,...,...,...,...,...,...,...,...,...
112,5,True,"10 28, 2014",A3HKBY3DH96VVT,9742356831,Icydawg,as described and shipped on time tastey,Five Stars,1414454400,NaN
113,4,True,"10 1, 2014",A1FIOBU4XSMO56,9742356831,WRS,Good stuff. Would order again.,Very good.,1412121600,NaN
114,5,True,"09 22, 2014",A4EWRIA8CCRMQ,9742356831,Ann,yum,Five Stars,1411344000,NaN
115,4,True,"09 13, 2014",A9DIYBDBJDOJ,9742356831,Blue Dragonfly,I have Mae Ploy Yellow Curry and Panang Red Cu...,Very hot!,1410566400,13.0
116,2,True,"09 9, 2014",A39MJSO7Q51S3V,9742356831,Soo,It was bit expensive. Chinese market was a lit...,it,1410220800,NaN

In [10]:
text_corruption = TextAttackCorruption(
    column="reviewText",
    fraction=0.2,
    transformations=[
        WordSwapRandomCharacterDeletion(),
        WordSwapRandomCharacterInsertion(),
        WordSwapRandomCharacterSubstitution(),
        WordSwapQWERTY()
    ],
    constraints=[
        RepeatModification(), 
        StopwordModification()
    ]
)

text_corruption.transform(df)

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote
0,5,True,"11 19, 2014",A1QVBUH9E1V6I8,4639725183,Jamshed Mathur,No adverse comment.,Five Stars,1416355200,NaN
1,5,True,"10 13, 2016",A3GEOILWLK86XM,4639725183,itsjustme,Gift for college student.,Great product.,1476316800,NaN
2,5,True,"11 21, 2015",A32RD6L701BIGP,4639725183,Krystal Clifton,"If you like strong tea, this is for you. It mi...",Strong,1448064000,NaN
3,5,True,"08 12, 2015",A2UY1O1FBGKIE6,4639725183,U. Kane,Love the tea. The flavor is way better than th...,Great tea,1439337600,NaN
4,5,True,"05 28, 2015",A3QHVBQYDV7Z6U,4639725183,The Nana,I have searched everwhere until I obrowsed Ama...,This is the tea I remembered!,1432771200,NaN
...,...,...,...,...,...,...,...,...,...,...
112,5,True,"10 28, 2014",A3HKBY3DH96VVT,9742356831,Icydawg,as described and shippef on time tastey,Five Stars,1414454400,NaN
113,4,True,"10 1, 2014",A1FIOBU4XSMO56,9742356831,WRS,Good stuff. Would order again.,Very good.,1412121600,NaN
114,5,True,"09 22, 2014",A4EWRIA8CCRMQ,9742356831,Ann,ymum,Five Stars,1411344000,NaN
115,4,True,"09 13, 2014",A9DIYBDBJDOJ,9742356831,Blue Dragonfly,I have Mae Ploy Yellow Curry and Panang Red Cu...,Very hot!,1410566400,13.0
116,2,True,"09 9, 2014",A39MJSO7Q51S3V,9742356831,Soo,It was bit expensive. Chinese market was a lit...,it,1410220800,NaN